@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700);

:root {
    --fg-colour: black;
    --bg-colour: white;
    --accent-colour: #0044ee;
    --code-bg-colour: #f4f4f4;
}

body {
    background-color: var(--bg-colour);
    font-family: "IBM Plex Sans";
    font-weight: normal;
    font-size: 1.1em;
    color: var(--fg-colour);
}

header {
    text-align: center;
}

h1, #byline {
  margin-top: 0em;
}

a:link,
a:visited {
    text-decoration: none;
    border-bottom: 1px solid var(--accent-colour);
    color: var(--fg-colour);
}
a:hover {
    text-decoration: none;
    border-bottom: none;
    color: var(--accent-colour);
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
}

p {
    text-align: center;
}

#scoreblock {
    margin: 0em;
    font-family: "IBM Plex Mono";
    font-size: 3em;
}
